@model IEnumerable<Issue>
@using Web.Models.IssueModels;
@{
    ViewData["Title"] = "Home Page";
}

<table class="pure-table pure-table-bordered pure-table-striped" align="center">
    <thead>
        <tr>
            <th>#</th>
            <th>Sala</th>
            <th>Problem</th>
            <th>Godzina Zgłoszenia</th>
            <th>Ostatniej zmiany dokonał (Przypisane do)</th>
            <th>Status</th>
            <th>Zmień status</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var issue in Model)
        {
        <tr>
            <td>@issue.Id</td>
            <td>@issue.Room</td>
            <td>@issue.Description</td>
            <td>@issue.ReportDate.ToLocalTime()</td>
            <td>@issue.LastUpdate.ToLocalTime()</td>
            <td>@issue.State</td>
            <td>
                @Html.PartialAsync("_ChangeState", new IssueFormModel()
           {
               Id = issue.Id,
               State = issue.State

           })
            </td>
        </tr>

        }
    </tbody>
</table>
